# Virtual environments
.venv/

# OS / editor
.DS_Store
.vscode/

# Python cache
__pycache__/
*.py[cod]

# Research folder (ongoing)
research/

# Figures 
# Ignore figs at repo root for now
/figs/
# Do not ignore figs inside examples
#!/examples/**/figs/ 

# Mathematica files (for now)
*.nb
